*{
margin:*;
padding:0;
box-sizing:border-box*
}

body{
font-family:'Segoe UI',s*ns-serif;
background:#f4f7fb;
disp*ay:flex;
height:*00vh;
}

.sidebar{
width:*50px;
background:#0A5C36;
color:wh*te;
padding:*0px;
}

.logo{
font-size:22px;
fon*-weight:bold;
margin-bottom:30px;
*

.menu-item{
padding*15px;
margin-bottom:10px;
border-r*dius:10px;
cursor:pointer;
transit*on:.3s;
}

.menu-item:hover{
backg*ound:rgba*255,255,255,.15);
}

.main{
flex:1*
padding:*0px;
overflow:auto;
}

.card{
back*round:white;
padding:25px;
border-*adius:15px;
box-shadow*0 4px 15px rgba(0,0,0,.08);
}

h*{
margin-bottom:20px;
color:#*A5C36;
}
